
<h1 class="blog-title">Animal Blogs</h1>

<% @blogapps.each do |blogapp| %>
  <div class="blog-post">
    <h3 class="blog-post-title"><%= blogapp.title %></h3>
    <p class="blog-post-body"><%= blogapp.body %></p>
    <p class="blog-post-views">Views: <%= blogapp.views %></p>
    <h3><%= link_to "View", "/blogapps/#{blogapp.id}" %> | <%= link_to "Delete", "/blogapps/delete/#{blogapp.id}" %> </h3>

  </div>
<% end %>

<%= link_to "My Account", '/' %>

